@page
@model Home
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Active Benchmarks";
}
<partial name="~/Areas/Identity/Pages/Account/Manage/_StatusMessage.cshtml" for="StatusMessage"/>
<div class="container">
    <div class="row">
        <div class="col-11">
            <h3>My benchmarks</h3>
        </div>
        <div class="col-1 d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-primary d-flex justify-content-center align-items-center m-1 p-2" data-bs-toggle="modal" data-bs-target="#newBenchmark" onclick="deleteSession()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
            </button>
        </div>
    </div>
</div>
<div class="tableFixHead">
    <table class="table table-striped align-middle">
        <caption hidden>Table for own, not finished benchmarks</caption>
        <thead class="table-dark">
        <tr>
            @foreach (var header in Model.Headers)
            {
                <th>
                    <div class="d-flex justify-content-center">@header</div>
                </th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.UnfinishedBenchmarks)
        {
            if (item.UserName.Equals(User.Identity?.Name))
            {
                <tr>
                    <form class="form" method="post">
                        <td>
                            <div class="d-flex justify-content-center">@item.Name</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">@item.StartedDate</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">@item.Status</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">@item.Ram GB</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">@item.Cpu Cores</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">@Model.CpuModels.Find(c => c.Id == item.CpuModelId)?.Name</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">@Model.Executables.Find(e => e.Value.Equals(item.ExecutableId.ToString()))?.Text</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">@(System.IO.Path.GetFileName(item.SetFilePath))</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">Loading...</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <select asp-for="EditInput.Priority" asp-items="Model.Priorities" class="rounded-3 m-1">
                                    <option value="@(((int)item.Priority).ToString())" selected disabled>@item.Priority.ToString()</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <input type="submit" value="Save" class="btn btn-primary m-1"
                                       asp-page-handler="Save" asp-route-id="@item.Id" asp-route-status="@item.Status"/>
                                <button type="submit" class="btn btn-danger m-1"
                                        asp-page-handler="Delete" asp-route-id="@item.Id" asp-route-name="@item.Name">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </form>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-11">
        <h3>Others' benchmarks</h3>
    </div>

</div>
<div class="tableFixHead">
    <table class="table table-striped align-middle">
        <caption hidden>Table for others', not finished benchmarks</caption>
        <thead class="table-dark">
        <tr>
            @foreach (var header in Model.Headers)
            {
                <th>
                    <div class="d-flex justify-content-center">@header</div>
                </th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.UnfinishedBenchmarks)
        {
            if (!item.UserName.Equals(User.Identity?.Name))
            {
                <tr>
                    <form class="form" method="post">
                        <td>
                            <div class="d-flex justify-content-center">@item.Name</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">@item.StartedDate</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">@item.Status</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">@item.Ram GB</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">@item.Cpu Cores</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">@Model.CpuModels.Find(c => c.Id == item.CpuModelId)?.Name</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">@Model.Executables.Find(e => e.Value.Equals(item.ExecutableId.ToString()))?.Text</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">@(System.IO.Path.GetFileName(item.SetFilePath))</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">Loading...</div>
                        </td>
                        @if ((await AuthorizationService.AuthorizeAsync(User, Policies.RequireAdministratorRole)).Succeeded)
                        {
                            <td>
                                <div class="d-flex justify-content-center">
                                    <select asp-for="EditInput.Priority" asp-items="Model.Priorities" class="rounded-3 m-1">
                                        <option value="@(((int)item.Priority).ToString())" selected disabled>@item.Priority.ToString()</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <input type="submit" value="Save" class="btn btn-primary m-1"
                                           asp-page-handler="Save" asp-route-id="@item.Id" asp-route-status="@item.Status"/>
                                    <button type="submit" class="btn btn-danger m-1"
                                            asp-page-handler="Delete" asp-route-id="@item.Id" asp-route-name="@item.Name">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                        </svg>
                                    </button>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="d-flex justify-content-center">@item.Priority</div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center"></div>
                            </td>
                        }
                    </form>
                </tr>
            }
        }
        </tbody>
    </table>
</div>


<!-- Modal -->
<form method="post">
<div class="modal fade" id="newBenchmark" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
<div class="modal-content">
<div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">Start a new benchmark</h5>
    <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="deleteSession()"></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <!-- first row -->
            <div class="col-4">
                <div class="form-floating mb-4">
                    <input asp-for="CreateInput.Name" class="form-control" placeholder="new benchmark's unique name"/>
                    <label asp-for="CreateInput.Name" class="form-label"></label>
                    <span asp-validation-for="CreateInput.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-2">
                <div class="form-floating mb-4">
                    <input asp-for="CreateInput.Ram" class="form-control" placeholder="needed RAM amount"/>
                    <label asp-for="CreateInput.Ram" class="form-label"></label>
                    <span asp-validation-for="CreateInput.Ram" class="text-danger"></span>
                </div>
            </div>
            <div class="col-2">
                <div class="form-floating mb-4">
                    <input asp-for="CreateInput.Cpu" class="form-control" placeholder="needed CPU amount"/>
                    <label asp-for="CreateInput.Cpu" class="form-label"></label>
                    <span asp-validation-for="CreateInput.Cpu" class="text-danger"></span>
                </div>
            </div>
            <div class="col-2">
                <div class="form-floating mb-4">
                    <input asp-for="CreateInput.TimeLimit" class="form-control" placeholder="the time limit for one execution"/>
                    <label asp-for="CreateInput.TimeLimit" class="form-label"></label>
                    <span asp-validation-for="CreateInput.TimeLimit" class="text-danger"></span>
                </div>
            </div>
            <div class="col-2">
                <div class="form-floating mb-4">
                    <input asp-for="CreateInput.HardTimeLimit" class="form-control" placeholder="the hard time limit for one execution"/>
                    <label asp-for="CreateInput.HardTimeLimit" class="form-label"></label>
                    <span asp-validation-for="CreateInput.HardTimeLimit" class="text-danger"></span>
                </div>
            </div>
            <!-- second row -->
            <div class="col-4">
                <div class="form-floating mb-4">
                    <select asp-for="CreateInput.ExecutableId" asp-items="Model.Executables" class="form-control"></select>
                    <label asp-for="CreateInput.ExecutableId" class="form-label"></label>
                    <span asp-validation-for="CreateInput.ExecutableId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-floating mb-4">
                    <select asp-for="CreateInput.ComputerGroupId" asp-items="Model.ComputerGroups" class="form-control"></select>
                    <label asp-for="CreateInput.ComputerGroupId" class="form-label"></label>
                    <span asp-validation-for="CreateInput.ComputerGroupId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-floating mb-4">
                    <select asp-for="CreateInput.CpuModelId" asp-items="Model.CpuModelValues" class="form-control"></select>
                    <label asp-for="CreateInput.CpuModelId" class="form-label"></label>
                    <span asp-validation-for="CreateInput.CpuModelId" class="text-danger"></span>
                </div>
            </div>
            <!-- third row -->
            <div class="col-6">
                <div class="form-floating mb-4">
                    <select asp-for="CreateInput.SetFilePath" asp-items="Model.SetFiles" class="form-control"></select>
                    <label asp-for="CreateInput.SetFilePath" class="form-label"></label>
                    <span asp-validation-for="CreateInput.SetFilePath" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-floating mb-4">
                    <select asp-for="CreateInput.PropertyFilePath" asp-items="Model.PrpFiles" class="form-control"></select>
                    <label asp-for="CreateInput.PropertyFilePath" class="form-label"></label>
                    <span asp-validation-for="CreateInput.PropertyFilePath" class="text-danger"></span>
                </div>
            </div>
            <div class="col-2">
                <div class="form-floating mb-4">
                    <select asp-for="CreateInput.Priority" asp-items="Model.Priorities" class="form-control"></select>
                    <label asp-for="CreateInput.Priority" class="form-label"></label>
                    <span asp-validation-for="CreateInput.Priority" class="text-danger"></span>
                </div>
            </div>
            <!-- fourth row -->


            <input hidden value="@Scope.Global" id="scopeGlobal"/>
            <input hidden value="@Scope.Local" id="scopeLocal"/>

            <div class="col-4">
                <table class="table table-striped align-middle">
                    <caption class="caption-top">Global</caption>
                    <thead class="table-dark">
                    <tr>
                        <th>
                            <div class="d-flex justify-content-center">Key</div>
                        </th>
                        <th>
                            <div class="d-flex justify-content-center">Value</div>
                        </th>
                        <th>
                            <div class="d-flex justify-content-center">Operation</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="globalInput">
                        <td>
                            <input type="text" id="globalKey" class="form-control"/>
                        </td>
                        <td>
                            <input type="text" id="globalValue" class="form-control"/>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-primary m-1" onclick="addConfigItem('@Scope.Global','#globalKey', '#globalValue','#globalInput')">
                                    Add
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <table class="table table-striped align-middle">
                    <caption class="caption-top">Local</caption>
                    <thead class="table-dark">
                    <tr>
                        <th>
                            <div class="d-flex justify-content-center">Key</div>
                        </th>
                        <th>
                            <div class="d-flex justify-content-center">Value</div>
                        </th>
                        <th>
                            <div class="d-flex justify-content-center">Operation</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="localInput">
                        <td>
                            <input type="text" id="localKey" class="form-control"/>
                        </td>
                        <td>
                            <input type="text" id="localValue" class="form-control"/>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-primary m-1" onclick="addConfigItem('@Scope.Local','#localKey', '#localValue','#localInput')">
                                    Add
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <table class="table table-striped align-middle">
                    <caption class="caption-top">Constraints</caption>
                    <thead class="table-dark">
                    <tr>
                        <th>
                            <div class="d-flex justify-content-center">Expression</div>
                        </th>
                        <th>
                            <div class="d-flex justify-content-center">Operation</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="constraintInput">
                        <td>
                            <input type="text" id="expression" class="form-control"/>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-primary m-1" onclick="addConstraint('#expression', '#constraintInput')">
                                    Add
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal" onclick="deleteSession()">Cancel</button>
                <button type="submit" asp-page-handler="Start" class="btn btn-primary">Start</button>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script src="~/js/home.js"></script>
}