@page
@model Resources
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Resources";
}
<partial name="~/Areas/Identity/Pages/Account/Manage/_StatusMessage.cshtml" for="StatusMessage"/>
<div class="row">
<div class="col-6">
    <div class="row">
        <div class="col-11">
            <h3>My Executables</h3>
        </div>
        <div class="col-1 d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-primary d-flex justify-content-center align-items-center m-1 p-1" data-bs-toggle="modal" data-bs-target="#newExecutable">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="tableFixHead">
        <table class="table table-striped align-middle">
            <caption hidden>My Executables</caption>
            <thead class="table-dark">
            <tr>
                @foreach (var header in Model.ExeHeaders)
                {
                    <th>
                        <div class="d-flex justify-content-center">@header</div>
                    </th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Executables)
            {
                if (item.UserName.Equals(User.Identity?.Name))
                {
                    <tr>
                        <form class="form" method="post">
                            <td>
                                <div class="d-flex justify-content-center">@item.Name:@item.Version</div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">@item.OwnerTool:@item.ToolVersion</div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">@item.UploadedDate</div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary m-1" asp-page-handler="Download"
                                            asp-route-path="@item.Path">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                        </svg>
                                    </button>
                                    <button type="submit" class="btn btn-danger m-1"
                                            asp-page-handler="DeleteExecutable" asp-route-id="@item.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                        </svg>
                                    </button>
                                </div>
                            </td>
                        </form>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>
<div class="col-6">
    <div class="row">
        <div class="col-11">
            <h3>My SourceSets</h3>
        </div>
        <div class="col-1 d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-primary d-flex justify-content-center align-items-center m-1 p-1" data-bs-toggle="modal" data-bs-target="#newSourceSet">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="tableFixHead">
        <table class="table table-striped align-middle">
            <caption hidden>My Source Sets</caption>
            <thead class="table-dark">
            <tr>
                @foreach (var header in Model.SourceHeaders)
                {
                    <th>
                        <div class="d-flex justify-content-center">@header</div>
                    </th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.SourceSets)
            {
                if (item.UserName.Equals(User.Identity?.Name))
                {
                    <tr>
                        <form class="form" method="post">
                            <td>
                                <div class="d-flex justify-content-center">@item.Name:@item.Version</div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">@item.UploadedDate</div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary m-1" asp-page-handler="Download"
                                            asp-route-path="@item.Path">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                        </svg>
                                    </button>
                                    <button type="submit" class="btn btn-danger m-1"
                                            asp-page-handler="DeleteSourceSet" asp-route-id="@item.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                        </svg>
                                    </button>
                                </div>
                            </td>
                        </form>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>

<div class="col-6">
    <div class="row">
        <div class="col-11">
            <h3>Others' Executables</h3>
        </div>
    </div>
    <div class="tableFixHead">
        <table class="table table-striped align-middle">
            <caption hidden>Others' Executables</caption>
            <thead class="table-dark">
            <tr>
               @foreach (var header in Model.ExeHeaders)
               {
                   <th>
                       <div class="d-flex justify-content-center">@header</div>
                   </th>
               }
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Executables)
            {
                if (!item.UserName.Equals(User.Identity?.Name))
                {
                    <tr>
                        <form class="form" method="post">
                            <td>
                                <div class="d-flex justify-content-center">@item.Name:@item.Version</div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">@item.OwnerTool:@item.ToolVersion</div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">@item.UploadedDate</div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary m-1" asp-page-handler="Download"
                                            asp-route-path="@item.Path">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                        </svg>
                                    </button>
                                    @if ((await AuthorizationService.AuthorizeAsync(User, Policies.RequireAdministratorRole)).Succeeded)
                                    {
                                        <button type="submit" class="btn btn-danger m-1"
                                                asp-page-handler="DeleteExecutable" asp-route-id="@item.Id">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                            </svg>
                                        </button>
                                    }
                                </div>
                            </td>
                        </form>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>
<div class="col-6">
    <div class="row">
        <div class="col-11">
            <h3>Others' Source Sets</h3>
        </div>
    </div>
    <div class="tableFixHead">
        <table class="table table-striped align-middle">
            <caption hidden>Others' Source Sets</caption>
            <thead class="table-dark">
            <tr>
                @foreach (var header in Model.SourceHeaders)
                {
                    <th>
                        <div class="d-flex justify-content-center">@header</div>
                    </th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.SourceSets)
            {
                if (!item.UserName.Equals(User.Identity?.Name))
                {
                    <tr>
                        <form class="form" method="post">
                            <td>
                                <div class="d-flex justify-content-center">@item.Name:@item.Version</div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">@item.UploadedDate</div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary m-1" asp-page-handler="Download"
                                            asp-route-path="@item.Path">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                        </svg>
                                    </button>
                                    @if ((await AuthorizationService.AuthorizeAsync(User, Policies.RequireAdministratorRole)).Succeeded)
                                    {
                                        <button type="submit" class="btn btn-danger m-1"
                                                asp-page-handler="DeleteSourceSet" asp-route-id="@item.Id">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                            </svg>
                                        </button>
                                    }
                                </div>
                            </td>
                        </form>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>
</div>

<!-- Modal -->
<form method="post">
    <div class="modal fade" id="newExecutable" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticExeBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticExeBackdropLabel">Upload a new Executable</h5>
                    <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <partial name="~/Areas/Identity/Pages/Account/Manage/_StatusMessage.cshtml" for="StatusMessage"/>
                    <div class="form-floating mb-4">
                        <input asp-for="ExecutableInput.Name" class="form-control" placeholder="new executable's unique name"/>
                        <label asp-for="ExecutableInput.Name" class="form-label"></label>
                        <span asp-validation-for="ExecutableInput.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-4">
                        <input asp-for="ExecutableInput.Version" class="form-control" placeholder="the version number for the executable"/>
                        <label asp-for="ExecutableInput.Version" class="form-label"></label>
                        <span asp-validation-for="ExecutableInput.Version" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-4">
                        <input asp-for="ExecutableInput.OwnerTool" class="form-control" placeholder="the executable's owner tool's name"/>
                        <label asp-for="ExecutableInput.OwnerTool" class="form-label"></label>
                        <span asp-validation-for="ExecutableInput.OwnerTool" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-4">
                        <input asp-for="ExecutableInput.ToolVersion" class="form-control" placeholder="the executable's owner tool's version"/>
                        <label asp-for="ExecutableInput.ToolVersion" class="form-label"></label>
                        <span asp-validation-for="ExecutableInput.ToolVersion" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" asp-page-handler="UploadExecutable" class="btn btn-primary">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal -->
<form method="post">
    <div class="modal fade" id="newSourceSet" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticSrcBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticSrcBackdropLabel">Upload a new Source Set</h5>
                    <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <partial name="~/Areas/Identity/Pages/Account/Manage/_StatusMessage.cshtml" for="StatusMessage"/>
                    <div class="form-floating mb-4">
                        <input asp-for="SourceSetInput.Name" class="form-control" placeholder="new source set's unique name"/>
                        <label asp-for="SourceSetInput.Name" class="form-label"></label>
                        <span asp-validation-for="SourceSetInput.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-4">
                        <input asp-for="SourceSetInput.Version" class="form-control" placeholder="the version number for the source set"/>
                        <label asp-for="SourceSetInput.Version" class="form-label"></label>
                        <span asp-validation-for="SourceSetInput.Version" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" asp-page-handler="UploadSourceSet" class="btn btn-primary">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>