@page
@model BenchmarkingPortal.Web.Pages.UsersModel

@{
    ViewData["Title"] = "Users";
}
<partial name="~/Areas/Identity/Pages/Account/Manage/_StatusMessage.cshtml" for="StatusMessage"/>
<div class="d-flex justify-content-center m-3">
    <h3>Users waiting for approval</h3>
</div>
<div class="tableFixHead">
    <table class="table table-striped align-middle">
        <thead class="table-dark">
        <tr>
            <th>
                <div class="d-flex justify-content-center">Username</div>
            </th>
            <th>
                <div class="d-flex justify-content-center">Email</div>
            </th>
            <th>
                <div class="d-flex justify-content-center">Subscription</div>
            </th>
            <th>
                <div class="d-flex justify-content-center">Role</div>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.UserList.Count(); i++)
        {
            var item = Model.UserList[i];
            if (item.Roles.Contains(Roles.Guest))
            {
                <tr>
                    <form class="form" method="post">
                        <td>
                            <div class="d-flex justify-content-center">@item.UserName"</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">@item.Email"</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <input asp-for="@item.Subscription" disabled/>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                </svg>
                                <input asp-for="Input.Subscribed"/>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <select class="rounded-3" asp-for="@item.Roles[0]" asp-items="Model.Roles" disabled></select>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                </svg>
                                <select class="rounded-3" asp-for="Input.Role" asp-items="Model.Roles"></select>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <input type="submit" value="Save" class="btn btn-primary m-1"
                                       asp-page-handler="Save" asp-route-name="@item.UserName"/>
                                <input type="submit" value="Delete" class="btn btn-danger m-1"
                                       asp-page-handler="Delete" asp-route-name="@item.UserName"/>
                            </div>
                        </td>
                    </form>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center m-3">
    <h3>The approved users</h3>
</div>
<div class="tableFixHead">
    <table class="table table-striped align-middle">
        <thead class="table-dark">
        <tr>
            <th>
                <div class="d-flex justify-content-center">Username</div>
            </th>
            <th>
                <div class="d-flex justify-content-center">Email</div>
            </th>
            <th>
                <div class="d-flex justify-content-center">Subscription</div>
            </th>
            <th>
                <div class="d-flex justify-content-center">Role</div>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.UserList.Count(); i++)
        {
            var item = Model.UserList[i];
            if (item.Roles.Contains(Roles.Guest) == false && item.UserName != User.Identity.Name)
            {
                <tr>
                    <form class="form" method="post">
                        <td>
                            <div class="d-flex justify-content-center">@item.UserName"</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">@item.Email"</div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <input asp-for="@item.Subscription" disabled/>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                </svg>
                                <input asp-for="Input.Subscribed"/>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <select class="rounded-3" asp-for="@item.Roles[0]" asp-items="Model.Roles" disabled></select>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                </svg>
                                <select class="rounded-3" asp-for="Input.Role" asp-items="Model.Roles"></select>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <input type="submit" value="Save" class="btn btn-primary m-1"
                                       asp-page-handler="Save" asp-route-name="@item.UserName"/>
                                <input type="submit" value="Delete" class="btn btn-danger m-1"
                                       asp-page-handler="Delete" asp-route-name="@item.UserName"/>
                            </div>
                        </td>
                    </form>
                </tr>
            }
        }
        </tbody>
    </table>
</div>